@model Publication

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5>@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
        <p>@Model.Author.FirstName @Model.Author.LastName</p>
    </div>
</div>